/********************************************************
			 Custom Styles
********************************************************/
@font-face{
	font-family:'koodak';
	src:url('../fonts/BKoodakBold.eot');
	src:url('../fonts/BKoodakBold.eot#iefix') format('eot'),url('../fonts/BKoodakBold.woff') format('woff'),url('../fonts/BKoodakBold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
body{
	
	font-family:koodak;
	direction:rtl;
	font-size:16px;
	background-image:url(../images/body-bg.png);
	}
.logo{
	padding-top:10px;
	}
.top-header{
	padding-top:20px;
	}
.top-header ul{
	padding:0;
	margin:0;
	}	
.top-header ul li{
	display:inline-block;
	

	
	}
.top-header ul li a{
	display:inline-block;
	width:70px;
	text-decoration:none;

	}
.navbar{
	margin-top:30px;
	margin-bottom:-1px !important;
	border-radius:5px 5px 0 0 ;
	position: relative;
padding: 0px;
width: 100%;
border-radius: 5px 5px 0px 0px;
border-top: 1px solid #36B3E0;
box-shadow: 0px 1px 0px #1099C0 inset;
background: linear-gradient(to bottom, #37B3E0 0px, #0A92D7 100%) repeat scroll 0% 0% transparent;
	}

.navbar-default .navbar-nav > li > a{
	color:#fff;
	}
.header-bg{
	background-image:url(../images/body-bg1.png);
border-bottom: 1px solid #ECE7DC;
border-top:2px solid #37b3e0;
	}
.header-bottom{
padding: 2px 0px;
background: linear-gradient(to bottom, #F4F1E7 0px, #FFF 100%) repeat scroll 0% 0% transparent;
border-color: #ECE8D9;
border-width: 0px 1px 1px;
border-style: solid;
border-radius: 0px 0px 5px 5px;
	}
.header-bottom ul{
	padding-bottom:0 !important;
	margin-bottom:0 !important;
	}
.header-bottom ul li{
	display:inline-block;
		
	
	}
.header-bottom ul li a{
	display:inline-block;
	line-height:30px;
	text-decoration:none;
	margin-left:15px;

	}
.header-bg1{
	background-image:url(../images/body-bg2.png);
border-top: 1px solid #FFF;
padding-bottom: 5px;
	}
.navbar-nav li{
	background: url("../images/menu_sep.png") no-repeat scroll left center transparent;	
	}
.navbar-nav{
	padding:0;
	}
.footer{
	width:100%;
	
	border-top:2px solid #37b3e0;
	height:200px;
	background-image:url(../images/body-bg1.png);
	}
.footer-end{
	width:100%;

	background-image:url(../images/body-bg2.png);
	border-bottom:2px solid #37b3e0;
	}
.panel-default > .panel-heading{
	background: linear-gradient(to bottom, #37b3e0 0px, #0a92d7 100%) repeat scroll 0 0 transparent;
	}
.stat{
	margin-top:20px;
	}
.stat p {
	display:inline-block;
	width:50%;
	}
.panel-title{
	color:#fff;
	}
.no-redius{
	border-radius:0;
	}
.last-user p{
	display:inline-block;
	width:50%;
	}
.last-user p[align=left]{
	color:#999;
	font-size:12px;
	}
.home{
	margin-top:50px;
	}
.hr-beauty{
	
	border: 0 !important; 
	height: 1.9px !important; 
	background-image: -webkit-linear-gradient(left, rgba(55,179,224,0), rgba(55,179,224,0.9), rgba(55,179,224,0.9)) !important; 
	background-image: -moz-linear-gradient(left, rgba(55,179,224,0), rgba(55,179,224,0.9), rgba(55,179,224,0.9)) !important;
	background-image: -ms-linear-gradient(left, rgba(55,179,224,0), rgba(55,179,224,0.9), rgba(55,179,224,0.9)) !important; 
	background-image: -o-linear-gradient(left, rgba(55,179,224,0), rgba(55,179,224,0.9), rgba(55,179,224,0.9)) !important; 
}
.signup{
	box-shadow:0 0 3px #ccc;
	border-radius:4px;
	background-color:#fff;
	}
.signup h3{
	background-image:url(../images/signup.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:50px;
	background-size:40px;
	height:40px;
	padding-top:10px;
	}	
.signup input{
	text-align:center !important;
	}
.signup ul li {
	display:inline-block;
	list-style-type:none;
	margin-right:-5px;
	
	}
.signup ul{
	padding:0;
	margin:0;
	margin-bottom:100px;
	}
.signup ul li img{
	height:85px;
	
	}